body {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-app-region: drag;
  cursor: default;
  font-family: 'Roboto', sans-serif;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes loader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

html {
  color: #d3d3d3;
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.fadedout{
  animation: fadeout 1s;
}
/* Modal Content */
.modal-content {
  -webkit-app-region: no-drag;
  animation: fadein 1s;
  padding: 0.5%;
  width: 50%;
  height: 75%;
  position: absolute;
  background-color: #2C2F33;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  border-color: rgba(0,0,0,.1);
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: left;
}

#background {
  width: 100%;
  height: 100%;
  background-image: url("../resources/loginbg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.mainbox{
  animation: fadein 1s;
  height: 100vh;
  width: 100%;
}

#controlbox{
  width: 35%;
  height: 100vh;
  padding: 0%;
  float: right;
  background-color: #2C2F33;
}

#launchupdate{
  width: 30%;
  height: auto;
  bottom: 5%;
  margin: 0% 0% 2% 2%;
  position: absolute;
}

#gamerunning
{
  text-align: center;
  width: 100%;
  float: left;
  font-size: 20px;
}

#profile{
  width: 30%;
  height: auto;
  top: 2%;
  margin: 2% 0% 0% 2%;
  position: absolute;
  text-align: left;
  font-size: 24px;
}

#profile p{
  width: 100%;
  text-align: left;
  margin: 0%;
  font-size: 28px;
}

#usericondisplaycontainer{
  width: 48px;
  height: 48px;
  float: left;
  margin: 0% 2% 0% 0%;
}

#usernamedisplaycontainer{
  margin: 0% 1% 0% 1%;
  height: 48px;
}

#usernameiconcontainer{
  width: 90%;
  border-width: thin;
  border-radius: 3px;
  border-color: rgba(0,0,0,.1);
  background-color: rgba(0,0,0,.1);
  clear: left;
  height: 48px;
  margin: 2%;
}

#currentusericon{
  width: 48px;
  height: 48px;
}

#usernamedisplay{
  height: 48px;
  padding-top: 4px;
}

#logoutbutton{
  width: 90%;
  height: auto;
  font-size: 14px;
  float: left;
  margin: 2%;
  padding: 1% 0.25%;
}


#additionalbox{
  float: left;
}

#updatebar{
  width: 0%;
  background-color: #7289DA;
  height: 8px;
  margin: 8px;
  display: none;
}

#loadingbar {
  width: 100%;
  margin: 8px;
  height: 8px;
  position: relative;
  overflow: hidden;
}
#loadingbar::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 25%;
  background-color: #7289DA;
  animation: loader 1.5s infinite linear;
}

#updatecheck{
  text-align: center;
  width: 100%;
  float: left;
  font-size: 20px;
}

#updateprogress{
  text-align: center;
  width: 100%;
  float: left;
  font-size: 14px;
}

#versioncontainer{
  float: left;
  position: absolute;
  bottom: 0%;
  right: 0%;
  margin: 2px;
}

#version{
  font-size: 12px;
  margin: 0%;
}

#launchbutton
{
  padding: 3% 0.25%;
}

#updatebutton
{
  padding: 3% 0.25%;
}

.errormsg
{
  color: #d87070;
  font-size: 14px;
  text-align: left;
  margin: 2% 0.5%;
  padding: 0.1%;
}

.loginbox {
  -webkit-app-region: drag;
  animation: fadein 1s;
  padding: 2.5% 5% 2.5%;
  width: 30%;
  height: 25%;
  position: absolute;
  background-color: #2C2F33;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  border-color: rgba(0,0,0,.1);
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: left;
}

.inputbox {
  -webkit-app-region: no-drag;
  box-sizing: border-box;
  width: 100%;
  margin: 1%;
  padding: 0.5%;
  border-width: thin;
  border-radius: 3px;
  border-color: rgba(0,0,0,.1);
  background-color: rgba(0,0,0,.1);
  box-shadow: 0px -10px 5px c4px rgba(0,0,0,.1);
  color: #d3d3d3;
  font-size: 20px;
}


.button{
  -webkit-app-region: no-drag;
  box-sizing: border-box;
  width: 100%;
  left: 0%;
  margin: 1%;
  padding: 2% 0.25%;
  border-width: thin;
  border-radius: 3px;
  border-color: rgba(0,0,0,.1);
  background-color: rgba(0,0,0,.1);
  box-shadow: 0px -10px 5px c4px rgba(0,0,0,.1);
  color: #d3d3d3;
  font-size: 20px;
  transition: background-color 0.25s;
  text-align: center;
}

.smalltext{
  text-align: left;
  font-size: 12px;
  display: block;
}

.button:hover{
  background-color: #7289DA;
  cursor: pointer;
}

.customlink{
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  color: #98a9e4;
  margin: 0.5%;
  padding: 0.1%;
  font-size: 14px;
}

.customlink:hover{
  color: #7289da;
  cursor: pointer;
}

.customlink:active{
  color: #7289da;
  cursor: pointer;
}


.linkarea{
  margin: 0.25%;
  -webkit-app-region: no-drag;
  left: 0%;
  text-align: left;
}

a{
  color: #d3d3d3;
  text-align: center;
  font-size: 20px;
}

p{
  color: #d3d3d3;
  text-align: center;
  font-size: 20px;
}

.titlebar{
  -webkit-app-region: no-drag;
  float: right;
}


.titlebarbuttoncontainer{
  -webkit-app-region: no-drag;
  background-color: rgba(0,0,0,.1);
  transition: background-color 0.25s;
  padding: 4px;
  margin: 4px;
  float: right;
  height: 28px;
  width: 28px;
}

.titlebaricon{
  padding: 0px;
  margin: 0px;
  float: right;
  height: 28px;
  width: 28px;
}

.titlebarbuttoncontainer:hover{
  background-color: #7289DA;
  cursor: pointer;
}


.closesettingsbuttoncontainer{
  background-color: rgba(0,0,0,.1);
  transition: background-color 0.25s;
  padding: 2px;
  margin: 0px;
  float: right;
  height: 24px;
  width: 24px;
}

.closesettingsbutton{
  padding: 2px;
  margin: 0px;
  float: right;
  height: 20px;
  width: 20px;
}

.closesettingsbuttoncontainer:hover{
  background-color: #7289DA;
  cursor: pointer;
}

#settings-installloc-container{
  background-color: rgba(0,0,0,.1);
  transition: background-color 0.25s;
  padding: 2px;
  margin: 0%;
  float: left;
  width: 75%;
  border-width: thin;
  border-radius: 3px;
  border-color: rgba(0,0,0,.1);
  background-color: rgba(0,0,0,.1);
  box-shadow: 0px -10px 5px c4px rgba(0,0,0,.1);
}

#settings-installloc-container:hover{
  background-color: #7289DA;
  cursor: pointer;
}

#settingscontainer{
  margin: 10% 5%;
  height: auto;
  width: 90%;
  display: inline-block;
}

.settingsdescription{
  margin: 2px 2px 0px;
  font-size: 14px;
  text-align: left;
  float: left;
}

#settings-installloc{
  margin: 4px;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}
